@import "src/globals/styles/colors";
@import "src/globals/styles/mixins";

.root {
  display: flex;
  flex-direction: column;
  flex: 1;

  .wrapper {
    background: $wrapperBackground;
    display: flex;
    flex: 1;
    position: relative;

    .container {
      padding: 8px 28px;
      background: $whiteColor;
      display: flex;
      flex: 1;
      flex-direction: column;

      @media #{$s} {
        padding: 16px 28px;
        margin-right: 110px;
      }

      @media #{$m} {
        padding: 32px 40px;
        margin-right: 210px;
      }
    }
  }
}