@import "src/globals/styles/colors";

.root {
  display: flex;
  flex-direction: column;
  flex: 1;

  .wrapper {
    background: $wrapperBackground;
    display: flex;
    flex: 1;

    .container {
      margin-right: 210px;
      padding: 32px 40px;
      background: $whiteColor;
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
}