$mainColor: #a0ba20;
$focusColor: #7d901d;
$hoverColor: #b1cb21;
$activeColor: #9fb724;

$menuLinkHoverBorderColor: #d3ee29;
$menuLinkActiveBorderColor: #b2cc27;

$boxShadowColor: rgba(0, 0, 0, 0.05);

$wrapperBackground: #f6f8e4;

$whiteColor: #ffffff;
